.w-5 {
    width: 5%;
}

.admin-controls-cell {
    width: 30px;
}

.admin-main {
    

    .admin-table {
        width:30%;
        border: 1px solid black;
        & td {
            border: 1px solid black;
        }
    }
}