.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem .5rem 0;
    margin-left: $sidenav-width; /* Same as the width of the sidenav */
    background-color: $bg-top-panel; 

    .search-bar {
        flex-grow: .7;
        margin: 0 2rem 0 5rem;
        display: flex;
        font-size: 1.2em;

        .search-input {
            color: $txt-search;
            background-color: $bg-search;
            width: 100%;
            font-size: inherit;
            padding: .6em 1em .6em 1em;
            border: 1px solid $outline-search;
            border-top-right-radius: 0;

            &:focus {
                outline: none;
                border: 1px solid $outline-search-active;
            }
        }

        .search-btn {
            color: $txt-primary;
            background-color: $bg-search-legacy-button;
            display: flex;
            align-items: center;
            padding: 0 1.25rem;
            border: 1px solid $outline-search-legacy-button;
            border-left: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            cursor: pointer;

            &:hover {
                background-color: $bg-search-legacy-button-hover;
            }
        }
    }

    .menu-icons {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, auto);
        align-items: center;

        .menu-cart-btn {
            //width: 2rem;
            background-color: $bg-content;
            text-align: center;
            padding: .6rem .7rem;
            border-radius: 420px;
            display: flex;
            text-decoration: none;

            & span {
                transition: color 150ms;
            }

            &:hover {
                & span {
                    color: $cart-icon-hover;
                }
            }
        }
        
        .menu-account-btn {
            text-decoration: none;
            display: flex;
            align-items: center;
            width: fit-content;
            flex-wrap: wrap;
            border: 1px solid $outline-signin-topmenu-button;
            padding: .5rem 1rem;
            border-radius: .1rem;
            transition: border 150ms;

            & span {
                transition: color 150ms;
            }

            &:hover {
                border: 1px solid $outline-signin-topmenu-button-hover;
                & span {
                    color: $txt-signin-topmenu-button-hover;
                }
            }

            .menu-account-icon {
                //font-size: 1.5rem !important;
                padding-right: .5rem;
                color: $txt-signin-topmenu-button;
            }
    
            .menu-account-label {
                color: $txt-signin-topmenu-button;
            }
        }
    }    
}
