$sidenav-width: 225px;

#sidenav {
height: 100%;
width: $sidenav-width;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: $bg-side-panel;
overflow-x: hidden;
padding-top: 20px;
vertical-align: middle;

    & .active {
        background-color: $bg-side-panel-button-hover;

        &:hover{
            background-color: $bg-side-panel-button-active-hover;
        }
    }

    & hr {
        color: $separator-sidenav !important;
    }

    & a {
    padding: 8px 8px 8px 1.5rem;
    text-decoration: none;
    width: 100%;
    //font-size: 25px;
    color: $txt-primary;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
        &:hover{
          background-color: $bg-side-panel-button-hover;
        }
    }

    & span {
        font-size: 2rem;
        margin-right: 1.5rem;
    }

    #logo {
        width: 100%;
        text-align: center;
        padding: 0;
        margin-bottom: 2em;
        display: block;
        background-color: transparent !important;

        &:hover {
            background-color: transparent;
        }
    
        #logo-img {
            height: 100px;
        }
    }

    .sidenav-footer {
        padding-left: 1.5rem;

        & * {
            color: $txt-disabled;
        }

        & a {
            display: inline;
            text-align: left;
            padding: 0;
            margin-right: 1.5rem;
            line-height: 3rem;
            font-size: 1em;

            &:hover {
                background-color: transparent;
                color: $txt-secondary;
            }
        }

        & span {
            margin-top: .5rem;
            display: block;
            font-size: 1em;
        }
    }
}

/* On smaller screens, where height is less than 450px, 
change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



